streamlit
hdbcli
openai
langchain
langchain_openai
PyMuPDF
python-docx
langchain-community
PyPDF2
python-pptx
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.0.6
langsmith<0.1.20
pydantic==1.10.15








